/.fabric/
/.mixin.out/
/asm/
/astralsorcery/
/backups/
/blueprints/
/cache/
/config/agricraft/json/*
!/config/agricraft/json/defaults/
/config/AppliedEnergistics2/items.csv
/config/AppliedEnergistics2/VersionChecker.cfg
/config/brandon3055/ProjectIntelligence/DocUpdater/
/config/brandon3055/ProjectIntelligence/ModDocs/
/config/brandon3055/ProjectIntelligence/PackDocs/
/config/brandon3055/ResourceCache/
/config/byg/backups/
/config/goblintraders-entities.toml.bak
/config/jei/bookmarks.ini
/config/jei/worldSettings.cfg
/config/litematica/
/config/oauth.cfg
/config/splash.properties
/config/time.history
/config/tinker_ore_dict_melting_cache.dat
/config/voicechat/username-cache.json
/config/worldedit/.archive-unpack/
/craftpresence/
/crash-reports/
/data/
/downloads/
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/
/ESM/
/falsepattern/
/fancymenu_data/
/journeymap/
/llibrary/
/local/crash_assistant/
/local/ftbchunks/data/
/logs/
/mods/*
!/mods/*.rar
!/mods/*.md
/modernfix/structureCacheV1/
/ModTranslations/
/mputils/
/mystcraft/
/prestige/
/reports/
/resourcepacks/
/saves/
/screenshots/
/shaderpacks/
/simplebackups/
/TombManyGraves/
/tv-cache/
/twitchcrumbs-cache/
/vintagefix/
/voxelmap/cache/
/waypoints/WaypointData.dat
/waypoints/backup/
/xaero/
/XaeroWaypoints/
/XaeroWorldMap/
.curseclient
.ReAuth.cfg
betterfps.txt
BotaniaVars.dat
chooser_0.png
crafttweaker.log
command_history.txt
customfov.txt
deaths.dat
ds_private_storage.json
enigmatic_persistence.dat
hei_bookmarks.ini
irisUpdateInfo.json
jei_bookmarks.ini
keys.txt
knownkeys.txt
minecraftinstance.json
minetweaker.log
mobs_0.png
mtservers.dat
observable_announce
o_prof
*.dll
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
pings_0.png
rhino.local.properties
roots.log
seamless.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json
user-prefs.json
waypoints_0.png
